
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 60px 0 0;
  color: #444;
}

// header stuffs
.header-span {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header {
  text-align: center;
  background: #95C3F5;
  color: #444;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}

.header h1 {
  font-size: 2em;
  margin: 0;
}

.header .icon-plus,
.header .icon-home {
  position: absolute;
  top: 6px;
  font-size: 2em;
  padding: 10px;
}

.header .icon-plus {
  right: 14px;
}

.header .icon-home {
  left: 14px;
}

// home view stuffs
.add-list {
  border-bottom: 1px solid #ccc;
  height: 48px;
  text-align: center;
  margin-bottom: -1px;
  display: -webkit-flex;
  display: flex;
}

.add-list input[type=text] {
  border: none;
  height: 39px;
  outline: none;
  box-shadow: none;
  float: left;
  padding: 0 0 0 14px;
  line-height: 48px;
  -webkit-flex: 1;
}

.btn-add-list,
.btn-add-item {
  font-size: 16px;
  color: #444;
  border: none;
  background: #ccc;
  height: 48px;
  padding: 0 22px;
  vertical-align: top;
  float: right;
}

// list stuffs
.listsList li {
  padding: 1em;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.listsList li .badge {
  position: absolute;
  right: 10px;
  top: 12px;
}

.repeat-enter-start, .repeat-leave-start, .repeat-move-start {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.repeat-enter-setup {
    max-height: 0;
    opacity:0;
}
.repeat-enter-setup.repeat-enter-start {
    max-height: 250px;
    opacity:1;
}
.repeat-leave-setup {
    opacity:1;
    max-height: 250px;
}
.repeat-leave-setup.repeat-leave-start {
    opacity:0;
    max-height: 0;
}