/* line 2, main.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 7, main.scss */
body {
  padding: 60px 0 0;
  color: #444;
}

/* line 13, main.scss */
.header-span {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* line 20, main.scss */
.header {
  text-align: center;
  background: #95C3F5;
  color: #444;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999999;
}

/* line 29, main.scss */
.header h1 {
  font-size: 2em;
  margin: 0;
}

/* line 35, main.scss */
.header .nav-button-left,
.header .nav-button-right {
  position: absolute;
  top: 6px;
  font-size: 2em;
  padding: 10px;
}

/* line 42, main.scss */
.header .nav-button-right {
  right: 14px;
}

/* line 46, main.scss */
.header .nav-button-left {
  left: 14px;
}

/* line 51, main.scss */
.add-list {
  border-bottom: 1px solid #cccccc;
  height: 48px;
  text-align: center;
  margin-bottom: -1px;
  display: -webkit-flex;
  display: flex;
}

/* line 60, main.scss */
.add-list input[type=text] {
  border: none;
  height: 39px;
  outline: none;
  box-shadow: none;
  float: left;
  padding: 0 0 0 14px;
  line-height: 48px;
  -webkit-flex: 1;
}

/* line 72, main.scss */
.btn-add-list,
.btn-add-item {
  font-size: 16px;
  color: #444;
  border: none;
  background: #ccc;
  height: 48px;
  padding: 0 22px;
  vertical-align: top;
  float: right;
}

/* line 84, main.scss */
.listsList li {
  padding: 1em;
  position: relative;
  border-bottom: 1px solid #cccccc;
}

/* line 90, main.scss */
.listsList li .badge {
  position: absolute;
  right: 10px;
  top: 12px;
}

/* line 96, main.scss */
.repeat-enter-start, .repeat-leave-start, .repeat-move-start {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -ms-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
}

/* line 104, main.scss */
.repeat-enter-setup {
  max-height: 0;
  opacity: 0;
}

/* line 108, main.scss */
.repeat-enter-setup.repeat-enter-start {
  max-height: 250px;
  opacity: 1;
}

/* line 112, main.scss */
.repeat-leave-setup {
  opacity: 1;
  max-height: 250px;
}

/* line 116, main.scss */
.repeat-leave-setup.repeat-leave-start {
  opacity: 0;
  max-height: 0;
}

/* line 121, main.scss */
.icon-chevron-right {
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px;
}
