<div class="row-fluid">
  <div class="span12 header-span">
    <div class="header">
      <i class="icon-home" ng-click="navigateToMainView()"></i>
      <h1>Lists &amp; Lists</h1>
      <i class="icon-plus" ng-click="showAddItemUI()"></i>
    </div>
    <div id="add-list" class="add-list input-append" ng-show="ui.showAddItem">
      <input type="text" name="" ng-model="newItem" id="new-item" placeholder="Enter new item...">
      <button class="btn" ng-click="addItem()">Add</button>
    </div>
    <ul class="unstyled listsList">
      <li ng-repeat="listItem in list.itemList" ng-click="removeItem($index)">{{listItem.item}}</li>
    </ul>
  </div>
</div>